@import "../../utils/scss/var.scss";

.user {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;

  &_left {
    float: left;
    margin-right: 109px;
    width: 328px;
    height: 330px;
  }

  &_h2 {
    margin: 0;
    margin-bottom: 36px;
    font-family: Roboto Mono;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
  }

  &_p {
    font-family: Roboto Mono;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 28px;
  }

  &_label {
    font-family: Roboto Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    margin-bottom: 32px;
  }

  &_label_image{
    margin-left: 16px;
    padding: 6px 8px;
    background-color: #F4F4F4;
    border-radius: 3px;
  }

  &_tarmoqlar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
  }

}

.inner {
  width: 736px;
  

  &_h1{
    font-family: Roboto Mono;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 58px;
  }

  &_list{
    padding: 0;
  }

  &_linkId{
    color: $black;
  }

  &_item{
    list-style: none;
    margin-bottom: 46px;
    padding-bottom: 17px;
    border-bottom: 2px solid #DFDFDF;
  }

  &_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &_span{
    font-family: Roboto Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: $hira;
  }

  &_rigt{
    width: 101px;
    color: $hira;
    font-family: Roboto Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: right;
  }

  &_main{
    width: 544px;
    font-family: Roboto Mono;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 22px;
  }

  &_footer_span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    color: $hira;
    font-family: Roboto Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }

}

.btn-outline-secondary{
  border: none;
  border-radius: 5px !important;

  &:hover{
    background-color:  #FFBA9D;
    // color: ;
  }

  &:focus{
    background-color: transparent;
    box-shadow: none;
    color: #FFBA9D;
  }
}

.btn_leftlar{
  display:flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid $hira;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;

  &:hover{
    background-color: transparent;
  }

  &:focus{
    background-color: transparent;
  }
}

.btn_rigth{
  display: flex;
  align-items: center;
  width: 34px;
  height: 37px;
  justify-content: space-between;
  background-color: #F4F4F4;
  border-bottom-right-radius: 5px !important;
  border-top-right-radius: 5px !important;

  &:hover{
    background-color: #F4F4F4;
  }

  &:focus{
    background-color: #F4F4F4;
  }
}

.button_group{
  float: right;
  margin-bottom: 150px;
}


@media only screen and (max-width: 360px){
  .user_left{
    display: none;
  }

  .inner{
    width: 320px;


    &_h1{
      font-family: Roboto Mono;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
    }

    &_main{
      width: 320px;
    }
  }
}