@import "../../utils/scss/var.scss";

.main{
    margin-top: 29px;
    margin-right: 117px;
    min-height: 500px;
    margin-left: 110px;
}
@media only screen and (max-width: 360px){
   .main{
    margin: 0;
   }
}