@import "../../utils/scss/var.scss";


.content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    margin-top: 80px;
    margin-right: 260px;
    color: #474747;
    margin-bottom: 40px;

    &_left{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 328px;
        margin-top: 10px;
    }

    &_qarsak_otas{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 40px;
        margin-bottom: 50px;
    }


    &_rigth{
        width: 734px;
    }


    &_header_span{
        font-family: Roboto Mono;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        color: $hira;
    }

    &_header_p{
        font-family: Roboto Mono;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 24px;
    }

    &_span_otasi{
        display: flex;
        align-items: center;
        width: 280px;
        justify-content: space-between;
        color: $hira;
    }

    &_data{
        font-family: Roboto Mono;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;    
        color: #474747;       
    }

    &_ajrat{
         border-right: 1px solid $hira;
         height: 15px;
    }

    &_vaqt_otas{
        font-family: Roboto Mono;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;  
        width: 125px;      
    }

    &_lorem{
        font-family: Roboto Mono;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: left;


        &_h2{
            font-family: Roboto Mono;
            font-size: 19px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }

    &_text{
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 32px;



        &_text{
            font-family: Roboto Mono;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: left;
        }

        &_bottom{
            font-family: Roboto Mono;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: left;
            margin-top: 22px;
        }

        &_span{
            height: 167px;
            border-left: 1px solid #DFDFDF;
            margin-right: 22px;
        }
    }

    &_lesson{
        font-family: Roboto Mono;
        font-size: 19px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 48px;
        margin-bottom: 39px;        
    }

    &_list{
        font-size: 25px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 35px;
        margin-bottom: 80px;
    }
    
    &_item{
        font-family: Roboto Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 17px;
    }

    &_like{
        margin-bottom: 40px;
        margin-top: 80px;
        font-family: Roboto Mono;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;

    }

    
}

.randomImage{
    width: 736px;
    height: 352px;
    margin-bottom: 50px;
    margin-top: 45px;
    border-radius: 7px;
}


@media only screen and (max-width: 360px){
    .content{
        margin-top: 50px;
        margin-bottom: 25px;

        &_left{
            display: none;
        }
 
        &_header_p{
            font-family: Roboto Mono;
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: left;
            width: 320px;
            height: 108px;
            overflow:hidden;
        }

        &_text_span{
            height: 342px;
        }

    }

    .randomImage{
        width: 320px;
        height: 153px;
    }

    .nmadur_soat{
        display: none;
    }
}